<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-tutorial-mac:Web exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_tutorial_mac_Web_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring-tutorial-mac/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-tutorial-mac" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Spring-5.2.3.RELEASE" />
          <element id="library" level="project" name="Spring MVC-5.2.3.RELEASE" />
        </element>
      </element>
    </root>
  </artifact>
</component>